.control__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

